/*Galeria*/ 
.gallery{
    background-color: #f2f2f2;
    .container {
        @include container;
        .subtitle {
            @include subtitle;
        }
        .gallery__grid {
            margin-top: 3rem;
            height: auto;
            display: grid;
            grid-template-areas: 
            "img1 img2 img3"
            "img1 img4 img3"
            "img5 img4 img6";
            justify-content: center;
            row-gap: 15px;
            .gallery__picture{
                width: 80%;
                height: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                .gallery__img{
                    width: 100%;
                    height: 100%;
                    box-shadow: 2px 2px 5px rgb(43, 42, 42);
                    transition: transform .2s ease-in-out;
                }
                .gallery__img:hover{
                    transform: scale(1.05);
            
                }
            }
            .gallery__item1{
                grid-area: img1;
            }
            .gallery__item2{
                grid-area: img2;
            }
            .gallery__item3{
                grid-area: img3;
            }
            .gallery__item4{
                grid-area: img5;
            }
            .gallery__item5{
                grid-area: img6;
            }
            .gallery__item6{
                grid-area: img4;
            }
        }
        .gallery__cta{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 3rem;
            
            .gallery__link{
                display: none;
                text-decoration: none;
                background-color: $color-secondary;
                color: #fff;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 10px 15px;
                border-radius: 5px;
                box-shadow: 0 0 3px black;
                &:hover{
                    background-color: #fff;
                    color: $color-secondary;
                    transition: 0.2s;
                }
            }
        }
        
    }
}